@import "datatables.net-dt/css/dataTables.dataTables.min.css";
@import "toastr/build/toastr.min.css";
#loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background-color: #00000088;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading .spinner-border {
    color: white;
    height: 8rem;
    width: 8rem;
}
